apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx-deployment
    team: galao  
  name: nginx-deployment
  namespace: giropops  
spec:
  replicas: 10
  revisionHistoryLimit: 10  
  selector:
    matchLabels:
      app: nginx-deployment
  strategy: 
    type: RollingUpdate
    rollingUpdate:
        maxSurge: 1
        maxUnavailable: 2  
  template:
    metadata:
      labels:
        app: nginx-deployment
        team: galudo  
    spec:
      containers:
      - image: nginx:1.15.0 
        name: nginx
        resources:
          limits:
            cpu: 0.5
            memory: 128Mi
          requests:
            cpu: 0.3
            memory: 64Mi   
